body {
  font-family: Arial;
  background: #2c4c8a;
  color: white;
  text-align: center;
}

/* Table */
table {
  width: 90%;
  margin: 20px auto;
  background: white;
  color: black;
  border-radius: 10px;
}

th {
  background: #007bff;
  color: white;
  padding: 10px;
}

td {
  padding: 10px;
}

/* Blink */
@keyframes blink {
  50% { background-color: #ffcccc; }
}

.overspeed-row {
  animation: blink 1s infinite;
}

/* Map */
#map {
  height: 400px;
  width: 90%;
  margin: 20px auto;
}

/* Alerts */
#alertContainer {
  position: fixed;
  top: 20px;
  right: 20px;
}